<article class="poem">
        <div class="twit-icon">
            </div>
            <div class="poem-content">
                <p class="poem-title">
                {{title}} </p>
                <p class="poem-subtitle">
                <a href="{{URL}}">view</a>
                </p>
        </div>
</article>